<div (click)="openNoBackdrop(content)" class="square-box">
  <div class="cart-items">
    <h1>{{cart.getTotalItems()}}</h1>
    <strong>Item(s)</strong>
  </div>

  <div class="cart-amount">
    {{this.cart.getTotalPrice() | number : '1.2-2'}}
  </div>
</div>

<!-- <button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openNoBackdrop(content)">No backdrop</button> -->


<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Cart items</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">

    <p *ngFor="let productContainer of cart.items">
      <app-add-to-cart-product-card [productContainer]="productContainer"
        (onRemoveProduct)="removeProductFromCart($event)"></app-add-to-cart-product-card>
     

    </p>

  </div>
  <div class="offcanvas-footer p-4 border-dashed d-flex justify-content-between align-items-baseline">
    <h2 style="display: inline-block;">Total : {{cart.getTotalPrice() | number : '1.2-2'}}</h2>
    <a class="perview-button btn btn-lg"  [routerLink]="'/checkout'" routerLinkActive="router-link-active">Continue</a>
  </div>
</ng-template>