<alert type="info" [dismissible]="true" (onClosed)="removeProductFromCart(productContainer)">

  <div class="d-flex align-items-center">
    <span class="quantity">
      {{productContainer.getTotalItems()}}
    </span>
    <img *ngIf="productContainer.key.imageUrl" [src]="productContainer.key.imageUrl" [alt]="productContainer.key.name"
      height="40px" width="40px">
      <span class="min-w-200px name">
        {{productContainer.key.name}} <br> {{productContainer.getItemPrice() | number : '1.2-2'}} / pice
      </span> 
    <span>
      {{ productContainer.getTotalPrice() | number : '1.2-2'}}
    </span>
  </div>

</alert>