@import '/src/assets/sass/components/variables.custom';

.cart-button {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    display: none;
    background-color: ghostwhite; /* Make the background color transparent */
    border: 1px solid #fff; /* Add a border for visibility */
    color: #fff; /* Set text color to white for contrast */
    padding: 5px 10px; /* Add padding for button appearance */ 
    border-radius: 50%;
    cursor:pointer;
  }
  
  .card:hover .cart-button {
    display: block;
  }

  .card:hover .perview-button {
    display: block;
  }
  
  
  .product-price{
    margin-right: 10px;
  }
  .add-to-cart-icon{
    color: #009ef7;
    font-size: large;
  }


  .perview-button {
    position: absolute;
    bottom: 130px;
    right: 10px;
    display: none;
    border: 1px solid $primary;
    padding: 5px 10px;
    width: 93%;
    // background: #009ef7;
    background: $primary;
    color: white;    
  }

  .add-to-cart-btn {
    position: absolute;
    bottom: 130px;
    right: 10px;
    border: 1px solid $primary;
    padding: 5px 10px;
    width: 93%;
    background: $primary;
    color: white;    
  }
 
  .modal-product-price{
    margin: 25px 0px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    font-size: xx-large;
    font-weight: 900;
  }

  .modal-product-title{
    // font-size: 2rem;
    font-weight: bolder;
  }