<div class="card" style="width: 19rem; position: relative; ">

  <img
    [src]="product.imageUrl || 'https://res.cloudinary.com/do7pdjcnd/image/upload/v1661704771/samples/ecommerce/analog-classic.jpg'"
    class="card-img-top" alt="Product Image" style="position: relative;">

  <div class="card-body">
   <a href="">
    <h5 class="card-title" style="height: 30px;">{{product.name | substring : 39}}</h5>
   </a> 
    <p class="card-text" style="text-align: center;">

      <b class="product-price">
        BDT {{getProductPrice(product.section.pricingItems[0])}}
      </b>

      <s *ngIf="hasDiscount(product.section.pricingItems[0])"
        class="badge badge-light border border-dark-subtle rounded-pill text-danger"> MRP
        {{product.section.pricingItems[0].price}}</s>
    </p>

    <a class="cart-button">
      <i class="bi bi-bag-plus add-to-cart-icon"></i>
    </a>   
  </div>

  <button class="perview-button rounded-3">Quick view</button>

</div>