<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">




    <form novalidate="" class="form" [formGroup]="userForm">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
          <div class="col-lg-8">
            <div class="image-input image-input-outline" data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png)'">
              <!-- <div class="image-input-wrapper w-125px h-125px" [style.background-image]="photoUrl">

                
              </div> -->
              <img [src]="userProfilePhotoUrl" alt="User image" class="image-input-wrapper w-125px h-125px">
              <!-- Photo upload : Begine -->
              <label for="file-upload" class="file-upload">
                <i class="bi bi-pencil-fill"></i>
              </label>
              <input type="file" id="file-upload" name="photo" formControlName="photo"
                (change)="onFileSelected($event)">
              <!-- Photo upload : End -->
            </div>

          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
          <div class="col-lg-8">
            <div class="row">
              <!-- First name start -->
              <div class="col-lg-6 fv-row">

                <div class="col-md">
                  <input type="email" class="form-control" name="firstName" formControlName="firstName"
                    autocomplete="off"
                    [ngClass]="{'is-invalid': userForm.controls['firstName'].invalid && userForm.get('firstName')?.touched}">
                </div>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{ 
                          validation: 'required',
                          message: 'First name is required',
                          control: userForm.controls['firstName']
                }"></ng-container>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'minlength',
                    message: 'First name should have at least 3 symbols',
                    control: userForm.controls['firstName']
                }"></ng-container>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'First name should have maximum 320 symbols',
                  control: userForm.controls['firstName']
              }"></ng-container>
              </div>
              <!-- First name end -->

              <!-- Last name start -->
              <div class="col-lg-6 fv-row">

                <input class="form-control form-control-lg" name="lastName" formControlName="lastName"
                  autocomplete="off" [ngClass]="{
                      'is-invalid': userForm.controls['lastName'].invalid 
                    }" />

              </div>
              <!-- Last name end -->
            </div>
          </div>
        </div>

        <!-- Date of birth -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Date Of Birth</label>
          <div class="col-lg-8 fv-row">

            <input type="date" class="form-control form-control-lg" name="dateOfBirth" formControlName="dateOfBirth"
              autocomplete="off" [ngClass]="{
                  'is-invalid': userForm.controls['dateOfBirth'].invalid                  
                }" />
          </div>
        </div>
        <!-- Date of birth -->

        <!-- Gender -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Gender</label>
          <div class="col-lg-8 fv-row">

            <label for="male" class="me-5">
              <input type="radio" class="form-check-input" name="gender" formControlName="gender" value="Male"
                id="male">
              Male
            </label>

            <label for="female">
              <input type="radio" class="form-check-input" name="gender" formControlName="gender" value="Female"
                id="female">
              Female
            </label>

          </div>
        </div>
        <!-- Gender -->

        <!-- Address -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Address</label>
          <div class="col-lg-8 fv-row">
            <textarea class="form-control form-control-lg" name="address" formControlName="address" autocomplete="off"
              [ngClass]="{
                              'is-invalid': userForm.controls['address'].invalid 
                            }" rows="3"></textarea>
          </div>
        </div>
        <!-- Address -->

        <!-- Username -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Username</label>
          <div class="col-lg-8 fv-row">

            <input class="form-control form-control-lg" name="userName" formControlName="userName" autocomplete="off"
              [ngClass]="{'is-invalid': userForm.controls['userName'].invalid && userForm.get('userName')?.touched }" />

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
  validation: 'required',
  message: 'Username is required',
  control: userForm.controls['userName']
}">
            </ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
validation: 'minlength',
message: 'Username should have at least 3 symbols',
control: userForm.controls['userName']
}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
validation: 'maxlength',
message: 'Username should have maximum 55 symbols',
control: userForm.controls['userName']
}"></ng-container>

          </div>
        </div>
        <!-- Username -->

        <!-- Emial -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Email</label>
          <div class="col-lg-8 fv-row">

            <input type="email" class="form-control form-control-lg" name="email" formControlName="email"
              autocomplete="off" [ngClass]="{
              'is-invalid': userForm.controls['email'].invalid 
            }" />


            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Email should have at least 3 symbols',
            control: userForm.controls['email']
            }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'Email should have maximum 320 symbols',
            control: userForm.controls['email']
            }"></ng-container>
          </div>
        </div>
        <!-- Emial -->

        <!-- Phone Number -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Phone Number</label>
          <div class="col-lg-8 fv-row">
            <input class="form-control form-control-lg" name="phoneNumber" formControlName="phoneNumber"
              autocomplete="off" [ngClass]="{
                                                  'is-invalid': userForm.controls['phoneNumber'].invalid && userForm.get('phoneNumber')?.touched
                                                }" />

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                            validation: 'required',
                                            message: 'Phone number is required',
                                            control: userForm.controls['phoneNumber']
                                          }">
            </ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                          validation: 'minlength',
                                          message: 'Phone number should have at least 11 symbols',
                                          control: userForm.controls['phoneNumber']
                                          }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                            validation: 'maxlength',
                            message: 'Phone number should have maximum 11 symbols',
                            control: userForm.controls['phoneNumber']
                          }"></ng-container>
          </div>
        </div>
        <!-- Phone Number -->

      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>


    </form>
  </div>


</div>
 

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>