<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form" [formGroup]="userForm">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
          <div class="col-lg-8">
            <div class="image-input image-input-outline" data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png'">
              <div class="image-input-wrapper w-125px h-125px" [style.background-image]="
                  'url(./assets/media/avatars/300-1.jpg'
                "></div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input class="form-control bg-transparent" name="firstName" formControlName="firstName"
                  autocomplete="off" [ngClass]="{
              'is-invalid': userForm.controls['firstName'].invalid,
              'is-valid': userForm.controls['firstName'].valid
            }" />

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'First name is required',
          control: userForm.controls['firstName']
        }"></ng-container>

                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: 'First name should have at least 3 symbols',
          control: userForm.controls['firstName']
        }"></ng-container>
              </div>
              <div class="col-lg-6 fv-row">

                <input class="form-control form-control-lg form-control-solid" name="lastName"
                  formControlName="lastName" autocomplete="off" [ngClass]="{
                      'is-invalid': userForm.controls['lastName'].invalid,
                      'is-valid': userForm.controls['lastName'].valid
                    }" />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Last name is required',
                      control: userForm.controls['lastName']
                    }"></ng-container>




              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Date Of Birth</label>
          <div class="col-lg-8 fv-row">

            <input type="date" class="form-control form-control-lg form-control-solid" name="dateOfBirth"
              formControlName="dateOfBirth" autocomplete="off" [ngClass]="{
                  'is-invalid': userForm.controls['dateOfBirth'].invalid,
                  'is-valid': userForm.controls['dateOfBirth'].valid
                }" />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Gender</span></label>
          <div class="col-lg-8 fv-row">

            <input class="form-control form-control-lg form-control-solid" name="gender" formControlName="gender"
              autocomplete="off" [ngClass]="{
                'is-invalid': userForm.controls['gender'].invalid,
                'is-valid': userForm.controls['gender'].valid
              }" />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Address</span></label>
          <div class="col-lg-8 fv-row">
            <input class="form-control form-control-lg form-control-solid" name="address" formControlName="address"
              autocomplete="off" [ngClass]="{
                              'is-invalid': userForm.controls['address'].invalid,
                              'is-valid': userForm.controls['address'].valid
                            }" />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Username</span></label>
          <div class="col-lg-8 fv-row">
            <input class="form-control form-control-lg form-control-solid" name="userName" formControlName="userName"
              autocomplete="off" [ngClass]="{
                                  'is-invalid': userForm.controls['userName'].invalid,
                                  'is-valid': userForm.controls['userName'].valid
                                }" />

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
  validation: 'required',
  message: 'Username is required',
  control: userForm.controls['userName']
}">
            </ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
validation: 'minLength',
message: 'Username should have at least 3 symbols',
control: userForm.controls['userName']
}">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
validation: 'maxLength',
message: 'Username should have maximum 55 symbols',
control: userForm.controls['userName']
}"></ng-container>

          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Email</label>
          <div class="col-lg-8 fv-row">

            <input class="form-control form-control-lg form-control-solid" name="email" formControlName="email"
              autocomplete="off" [ngClass]="{
              'is-invalid': userForm.controls['email'].invalid,
              'is-valid': userForm.controls['email'].valid
            }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Email is required',
              control: userForm.controls['email']
            }">
            </ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minLength',
            message: 'Email should have at least 3 symbols',
            control: userForm.controls['email']
            }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
validation: 'maxLength',
message: 'Email should have maximum 320 symbols',
control: userForm.controls['email']
}"></ng-container>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Phone Number</label>
          <div class="col-lg-8 fv-row">
            <input class="form-control form-control-lg form-control-solid" name="phoneNumber"
              formControlName="phoneNumber" autocomplete="off" [ngClass]="{
                                                  'is-invalid': userForm.controls['phoneNumber'].invalid,
                                                  'is-valid': userForm.controls['phoneNumber'].valid
                                                }" />

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                            validation: 'required',
                                            message: 'Phone number is required',
                                            control: userForm.controls['phoneNumber']
                                          }">
            </ng-container>

            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                          validation: 'minLength',
                                          message: 'Phone number should have at least 11 symbols',
                                          control: userForm.controls['phoneNumber']
                                          }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                            validation: 'maxLength',
                            message: 'Phone number should have maximum 11 symbols',
                            control: userForm.controls['phoneNumber']
                          }"></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Communication</label>
          <div class="col-lg-8 fv-row">
            <div class="d-flex align-items-center mt-3">
              <label class="form-check form-check-inline form-check-solid me-5"><input class="form-check-input"
                  name="communication[]" type="checkbox" /><span class="fw-bold ps-2 fs-6">Email</span></label><label
                class="form-check form-check-inline form-check-solid"><input class="form-check-input"
                  name="communication[]" type="checkbox" /><span class="fw-bold ps-2 fs-6">Phone</span></label>
            </div>
          </div>
        </div>
        <div class="row mb-0">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Allow Marketing</label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input class="form-check-input w-45px h-30px" type="checkbox" id="allowmarketing" /><label
                class="form-check-label"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>


</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>