<div class="card mb-5 mb-xl-10 pb-4">
    <div class="card-header border-0" style="justify-content: end;">
        <div class="card-title m-0 ">
            <div class="d-flex align-items-center gap-2 gap-lg-3">
            <!--begin::Primary button-->
            <a routerLink="/manage/categories/create" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal"
                data-bs-target="#kt_modal_create_app">Create</a>
            <!--end::Primary button-->
            </div>

        </div>
    </div>
    <app-category-table></app-category-table>

</div>